* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #191825;
    color: #FFA3FD;
    transition: background-color 0.3s, color 0.3s;

    
}
html, body{
    /* Scroll Snapping */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
    overscroll-behavior-y: contain;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}
section {
    scroll-snap-align: start;
    height: 100vh;      /* Snap sections to the top when scrolling */
    scroll-padding-top: 80px;
    will-change: scroll-position;      /* Adjust this to match the height of the navbar if needed */
}

/* Indicador de Seção */
.indicadorSecao {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1001;
}

.indicador {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #79018C; /* Cor das bolinhas inativas */
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.indicador.active {
    background-color: #FFA3FD;; /* Cor da bolinha ativa */
}

/* Nome da seção */
.indicador::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom:50%;
    left: 250%; /* Adjust depending on where you want the tooltip */
    transform: translateX(-50%);
    background-color: #333;
    color: #c906e7;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    font-size: 12px;
}

.indicador:hover::after {
    opacity: 1;
}


/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    transition: background-color 0.3s;
    z-index: 1000;
}
.tituloNav {
    font-size: 1.5rem;
    font-weight: bold;
    color: #79018C;
    text-decoration: none;
}
.listaNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.toggleNav {
    text-decoration: underline;
    color: #79018C;
    font-size: 1rem;
    transition: color 0.3s;
}

/* ------------------------------------- Hero -------------------------- */

/* Hero */
.imageBg {
    background-image: url("./imagens/dark-minimalist.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    scroll-snap-align: start;
}
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #79018C;
    width: 90%;
    max-width: 1200px;
    padding: 0 2rem;
}
.textoHero {
    flex: 1;
    max-width: 600px;
    font-size: 4rem;
}
.imagemHero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-proto {
    width: 60vh;
    animation: mover 2s linear;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
/* --------------------------- */



/* ------------------------------------- Sobre -------------------------- */
/* SOBRE */
.sobre {
    background-color: #191825;
    color: #FFA3FD;
    scroll-snap-align: start;
    background-image: url(./imagens/sobrebg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloSobre {
    text-align: center;
    color: #79018C;
    font-size: 2.5rem;
    background-color: #191825;
}

.conteudoSobre {
    display: flex;
    justify-content: space-between; /* Ensure space between text box and image */
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.textoBoxSobre {
    flex: 1; /* Allows it to take up the left side of the section */
    max-width: 20vw; /* Make sure it doesn't take too much space */
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    padding: 2rem;
    border-radius: 15px; /* Rounded corners for the box */
    margin-right: 2rem; /* Add some space between the text box and image */
}

.textoSobre {
    color: #FFA3FD;
    font-size: 1.2rem;
}

.imagemSobre {
    flex: 1; /* This ensures that the image stays on the right */
    display: flex;
    justify-content: center;
}

.protoFormal {
    width: 60vh; /* Size of the image */
    border-radius: 10px; /* Optional: Add a slight border-radius to the image */
    margin-top: 15vh;
    animation: fadeInDireita 0.8s ease forwards;
    opacity: 0;
}
.protoFormal.animate {
    animation: fadeInDireita 0.8s ease forwards; /* Add animation */
}
/* --------------------------- */
/* ONE PIECE RED */
.red{
    background-color: #191825;
    color: #FFA3FD;
    scroll-snap-align: start;
    background-image: url(./imagens/onepiecered.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerRed{
    display: flex;
    justify-content: space-between; /* Ensure space between text box and image */
    flex-direction: column;
    padding: 2rem;
    flex-wrap: wrap;
}
.posterRed{
    width: 30vh; /* Size of the image */
    border-radius: 10px; /* Optional: Add a slight border-radius to the image */
    margin-top: 5vh;
    margin-left: 40vw;
    opacity: 0;
}
.posterRed.animate{
    animation: fadeInAcima 0.8s ease forwards
}

.textoBoxRed{
    max-width: 45vw; /* Make sure it doesn't take too much space */
    margin-left: 25vw;
    text-align: center;
    background-color: rgba(243, 8, 8, 0.80); /* Semi-transparent background */
    padding: 2rem;
    border-radius: 15px; /* Rounded corners for the box */
}
.textoRed{
    color: #080101;
    font-size: 3rem;
}
#vezesAssistidas{
    color: gold;
    font-size: 5rem;
}
/* ----------- */
/* ------------------------------------- ANIMAÇÕES -------------------------- */
/* typewriter */
@keyframes typing {
    0%, 31.35% { content: ""; }
    1.14%, 30.21% { content: "G"; }
    2.28%, 29.07% { content: "GR"; }
    3.42%, 28.93% { content: "GR4"; }
    4.56%, 27.79% { content: "GR4V"; }
    5.70%, 26.65% { content: "GR4V1"; }
    6.84%, 20.51% { content: "GR4V17"; }
    7.98%, 19.37% { content: "GR4V17Y"; }

    32.77% { content: ""; }
    33.91% { content: "G"; }
    34.05% { content: "Gr"; }
    35.19% { content: "Gra"; }
    36.33% { content: "Grav"; }
    37.47% { content: "Gravi"; }
    38.60% { content: "Gravit"; }
    39.74% { content: "Gravity"; }
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.typewriter::before {
    content: "Gravity";
    animation: typing 13.5s;
}
.typewriter::after {
    content: "";
    border-right: 1px solid currentColor;
    animation: blink 0.5s linear infinite;
}
.typewriter.thick::after {
    border-right: 1ch solid currentColor;
}
.typewriter.nocaret::after {
    border-right: 0;
}

/* Animações mover */
@keyframes mover {
    0% { opacity: 0; transform: translate(-10px, 0); }
    50% { opacity: 0.6; }
    100% { opacity: 1; transform: translate(0, 0); }
}
@keyframes mover2 {
    0% { opacity: 0; transform: translate(-10px, 0); }
    50% { opacity: 0.6; }
    100%{ opacity: 1; transform: translate(0, 0); }
} 

/* Fade In Direita */
@keyframes fadeInDireita {
    0% {
        opacity: 0;
        transform: translateX(100px); /* Start off-screen to the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at original position */
    }
}
@keyframes fadeInAcima {
    0% {
        opacity: 0;
        transform: translateY(100px); /* Start off-screen to the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at original position */
    }
}
.protoFormal {
    animation: fadeInRight 0.8s ease forwards; /* Add animation */
}

/* ------------------------------------- RESPONSIVIDADE -------------------------- */
/* Responsive adjustments */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        top: 40%;
        transform: translate(-50%, -40%);
    }

    .textoHero {
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .imagemHero {
        margin: 1rem 0;
    }

    .img-proto {
        width: 40vh;
    }

    .navbar {
        padding: 0.5rem 1rem;
    }

    .tituloNav {
        font-size: 1.25rem;
    }

    .toggleNav {
        font-size: 0.9rem;
    }
    .textoBoxSobre{
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .textoHero {
        font-size: 1.25rem;
    }

    .img-proto {
        width: 30vh;
    }
}
